# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
.pnp/
.pnp.js

# Environment variables
.env
.env*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Database
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

# Next.js
.next/
.swc/

# Turbo
.turbo/

# Built artifacts
build/

# Testing
coverage/
.nyc_output/